.head{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.road{
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid;
    position: relative;
}
.cars{
    width: 100px;
    height: 100px;
    transform: scale(-1,1);
    position: absolute;
    bottom: -30px;
}
.car1{
    fill: blue;
}
.car2{
    fill: yellow;
}
.car3{
    fill: deepskyblue;
}
.buts{
    display: flex;
    justify-content: space-around;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}
button:hover{
    background-color: grey;
    border: 2px solid cyan;
    color: cyan;
}
button:active{
    border: 2px solid yellow;
    color:yellow;
}